body {
    background-color: white;
    margin-left: 0;   /* distância da margem à esquerda*/
    margin-right: 0; /* distância da margem à direita*/
}

header {
    margin-top: -21px;  /* distância da margem à da parte de cima do elemento*/
}

h1 {
    color: black;
    font-family: cursive;
}

h2 {
    color:black;
    font-family: cursive;
}

p {
    font-size: 18px;
    font-family:
}

footer {
    margin-bottom:30px;
}

.img_padrão {
    margin-bottom= 50px;
    width: 100px;
}

.logo {
    width:30px;
}
/* Definindo cor dentro do Menu, zerando a margin e retirando as marcações*/
#menu ul{
   padding: 5px 10px 5px 10px;
   margin: 0;
   width:100%;
   height:80px;
   background-color:black;
   list-style: none;
}
#menu ul li {
    display: inline;
    border-radius: 1px;
}
/* Distanciando os itens com 10Px um do outro
*o Paddinng trabalha com itens de texto
*/
#menu ul li a {
    padding: 10px 10px;  
    display: inline-block; /* Refere-se à cada Bloco em linha do Menu*/

    color: white;
    text-decoration: none; /* Retirando o soblinhado dos itens*/
}

#menu ul li a:hover {
    color: #000080;
}

#header {
    padding: 0px;
    margin: 0px;
    width:100%;
    height:300px;
    background-color:lightblue;
}

#Serviços {
    margin: 0px 0px 10px;
    height: 300px;
    width: 100%;
    background-color: lightgreen
}

#Clientes {
    height: 300px;
    width: 100%;
    background-color: lightgreen
}

#Parceiros {
    height: 300px;
    width: 100%;
    background-color: lightgreen
}

#Time {
    height: 300px;
    width: 100%;
    background-color: lightgreen
}

#Contato {
    height: 300px;
    width: 100%;
    background-color: lightgreen
}

